@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html,
body {
    background-color: rgb(37, 37, 37);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.clipboard-zone {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.input {
    margin: 16px 0px;
    font-family: 'Lato', sans-serif;
}

.input[type=text] {
    text-align: center;
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 1.1em;
    width: 50%;
    outline-offset: 0px;
    border:none;
    background-color: rgb(37, 37, 37);
    color: white;
    border-bottom: 1px solid red;
}

.input[type=text]:focus-visible {
    outline: none;
    border-bottom: 1px solid rgb(0, 68, 255);
}

.input[type=button] {
    text-align: center;
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 1.1em;
    width: 30%;
    outline-offset: 0px;
    border:none;
    background-color: rgb(37, 37, 37);
    color: white;
    border: 1px solid red;
    transition: 0.5s
}

.input[type=button]:hover {
    transition: 0.5s;
    border: 1px solid rgb(0, 68, 255);
    border-radius: 6px;
}

.alert-box {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    box-sizing: border-box;
}

.alert {
    padding: 18px 120px;
    margin:12px 6px;
    text-align: center;
    font-size: 1.1em;
    border-radius: 4px;
    
}

.alert-fail {
    color: white;
    background-color: rgba(255, 0, 0, 0.2); 
    box-shadow: 0px 0px 5px 0px rgb(255, 0, 0);
}

.alert-success {
    color: white;
    background-color: rgba(0, 255, 0, 0.2); 
    box-shadow: 0px 0px 5px 0px rgb(0, 255, 0);
}
